/* list */
.layout_board_label{ display: flex; background-color: var(--bg); border-radius: .6rem; }
.layout_board_list{ display: flex; flex-direction: column; border-bottom: solid 1px var(--lgray); }
.board_label_none{ visibility: hidden; }
.wrap_board_title, .wrap_board_info{ display: flex; width: 100%; align-items: center; }
.board_list_title{ max-width: calc(100% - 4rem); }
.board_list_name{ flex: 1 0 16rem; }
.board_list_like{ width: 6rem; }
.board_list_hit{ width: 4rem; font-size: 1.2rem; color: var(--gray); }
.board_list_update{ width: 6rem; }
.board_list_comment{ padding: 0 .2rem; font-size: 1.2rem; border: solid .6px var(--lgray); background-color: var(--bg); }
@media (min-width: 800px) {
    .board_label_none{ visibility: visible; }
    .layout_board_list{ flex-direction: row; }
    .wrap_board_info{ flex: 1; }
    .board_list_name{ flex: 0 0 20rem; }
}

/* read, notice */
.board_view_title{ font-size: 1.5rem; font-weight: bold; border-radius: .6rem; }
.board_view_writer{ display: flex; flex-direction: column; }
.board_view_writer p:nth-child(2){ padding-top: .4rem; }
@media (min-width: 800px) {
    .board_view_writer{ flex-direction: row; }
    .board_view_writer p:nth-child(1){ width: 50%;}
    .board_view_writer p:nth-child(2){ width: 50%; text-align: right; padding-top: 0; }
}
/* state */
.box_board_state{ border: solid 1px var(--lgray); padding: .6rem; text-align: center; border-radius: .4rem; }