.transition-wrapper {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  background: #f9f9f9;
}

.transition-page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0; left: 0;
  opacity: 0;
  transform: translateX(100%);
  transition: all 1s cubic-bezier(0.22, 1, 0.36, 1);
}

.transition-page.active {
  opacity: 1;
  transform: translateX(0);
  z-index: 1;
}
